.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .70rem;
    line-height: 1.2;
    border-radius: .2rem;
}

.card-body {
    padding-left: 0.5rem ;
    padding-right: 0.5rem ;
}

.margin-top{
    margin-top: 5rem ;
}

.ui-widget.ui-widget-content {
    z-index: 9999;
}

.logo {
    height: 40px;
}

.nav-link {
    color: #ffffff !important;
}
body {
    background-color: #f7f7fa;
}